body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.content{
    max-width: 600px;
    padding:20px;
    margin:auto;
    justify-content: center;
    align-items: center;
}
h2 {
    background-color: #4a4be7;
    color:#ffffff;
    padding:10px;
    font-family: arial;
    text-align: center;
    border-radius:5px;
    box-shadow: 4px 4px #ee9be4;
}
.btn{
    height:50px;
    width:250px;
    font-size: 18px;
    color:#ffffff;
    background-color: #ee9be4;
    box-shadow: 4px 4px #4a4be7;
    padding:5px;
    border-radius: 50px; 
}
.active-purple-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;

  }
  /*ANIMATION CODE*/
  .text-typing {
    padding:20px 30px;
    background:#f5f5f5;
    font-size:35px;
    font-family:monospace;
    border-radius:50px;
  }
  .text-typing h2 {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 5s steps(22,end) forwards,
              blink 1s infinite;
  }
  .form-control{
  }
  
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }
/* CONTAINER */
.container-fluid{
  width: 100%;  
  padding: 3% 15% 7%;
}

  /*FOOTER SECTION*/
  .footer-section {
    background-color: #3f3f44;
     color: #eee;
     text-align: center;     
   }
   .footer-icon {
     margin: 10px 10px;
   }
     .footer-section :hover {
       text-decoration: none; 
     }
   .footer-img {
     width: 5%;
     padding-bottom: 10px;
   }



   